PROJECT_NAME=EPİAŞ PTF Forecasting MVP
APP_VERSION=0.1.0
ENVIRONMENT=development

POSTGRES_USER=pepias
POSTGRES_PASSWORD=pepias
POSTGRES_DB=pepias
DATABASE_URL=postgresql+psycopg://pepias:pepias@db:5432/pepias

API_PORT=8000
STREAMLIT_PORT=8501
MLFLOW_PORT=5000
API_URL=http://api:8000
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg://pepias:pepias@db:5432/pepias
